* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
background-color: #f6adac;
}

.wrapper,
.portafolio {
    width: 100%;
    height: 100%;
    background-color: #f6adac;
    color: #0d486a;
}

.brand {
    margin-top: -10px;
}

.brand span {
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1em
}

.menu li {
    list-style: none;
    margin-top: 20px;

}

.menu {
    display: flex;
    width: 50%;
    justify-content: space-around
}

h2 {
    font-size: 60px
}

.menu a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 20px;
}

.menu .active {
    color: white;
}

.menu a:hover {
    background-color: #0d486a;
    transition: ease-in .4s;
}

.main {
    margin: 0 auto;
    width: 80%;
    height: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.main p {
    font-size: 1.2em;
    padding-right: 2em;
}

h1 {

    font-size: 3em;
}

span {
    color: white
}

.main img {
    border: solid 10px #0d486a;
    padding: 20px;

}

.aboutme {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    width: 100%;
    align-items: center;
    background-color: white;

}


.aboutme img {
    width: 100%;
    grid-column: 1/5;
}

.meinfo {
    grid-column: 5/10;
    padding: 3em;
    color: #0d486a;
}



.meinfo h2 {
    font-size: 3em;
    color: #0d486a;
}



.meinfo p {
    padding: 1em;
    font-size: 1.2em;
}

.divider {
    height: 4px;
    width: 60px;
    background-color: #f6adac;
    margin-top: 2px;
    margin-bottom: 2em
}

.portafolio-hobbie {
    width: 100%;
    padding: 1em;
    text-align: center;
    margin-bottom: -40px;
}

.portafolio-hobbie h2 {
    font-size: 3em;
}

.portafolio .container {
    width: 80%;
    height: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 40px;
    margin-bottom: 20px;
}

.card {
    width: 300px;
    height: 320px;
    background-color: #ffdeba;
    margin: 2em;
    border: solid white 2px;
}

.cardimg {
    width: 100%;
    height: 150px;
    background-image: url(../img/Captura.PNG);
    background-size: cover;
    padding: 20px;
}

.container h2 {
    font-size: 2em;
}

.cardtitulo {
    padding: 20px;
    justify-content: center;
    display: flex;
}

.proyectoslinks {
    display: flex;
    justify-content: space-evenly;
}

.proyectoslinks a {
    color: white;
    text-decoration: none;
}

.proyectoslinks i {
    font-size: 1.5em;

}

.card .sobreproyectos {
    display: flex;
    align-self: center;
    margin: 0 auto;
    margin: 1em;
    width: 70%;
}

.botonproyectos a {
    text-decoration: none;
    color: white
}

.descarga {
    padding: 10px 20px;
    color: white;
    background-color: #f6adac;
    border: none;
    border-radius: 20px;
    margin-top: 10px;
    cursor: pointer;
    box-shadow: 1px 3px 11px -5px white;
    text-decoration: none;
}

.descarga:hover {
    background-color: #0d486a;
    transition: ease-in .4s;


}

.botonproyectos {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 10px;


}

.cardimg2 {
    width: 100%;
    height: 150px;
    background-image: url(../img/asdsad.PNG);
    background-size: cover;
    padding: 20px;
}

.cardimg3 {
    width: 100%;
    height: 150px;
    background-image: url(../img/asdasdsd.PNG);
    background-size: cover;
    padding: 20px;
}

.hobbies {
    background-color: #f6adac;
    border: none;
    text-align: center;
}

.container-contacto {
    padding: 3em;
    margin: 0 auto;

}
.contacto {
    background-color:#0d486a
}
.contacto2 h2 {
    font-size: 3em;
    text-align: center;
    color: white
}

.contacto-form {
    display: flex;
    justify-content: center;
    margin-top: 1px;
}
.formulario {
    display: flex;
    flex-direction: column;
    
    width: 30%;
    margin-top: 2em;
}
.formulario input {
    padding: 10px 20px; 
    margin-bottom: 1em;
    background-color: white;
    border: none;
    border-bottom: 1px solid #0d486a;
    color: white;
    width: 100%;
}
.formulario textarea {
    height: 150px;
    background-color: white;
    padding: 1.5em;
    border: 1px solid

}
.btn-submit {
    padding: 10px 20px;
    margin: 1em;
    border: none;
    text-transform: uppercase;
    background-color: white;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 1px 3px 11px -5px white;
}
.btn-submit:hover {
    background-color:white;
    transition: ease-in .4s;

}
.container-contacto {
padding: 0%;
}
.footer {
    height: 3em;
    line-height: 3em;
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
    font-weight: 900;
    }
